# Ridership Analysis
Purpose: analyze, clean, and preprocess 'Trip_Level_Ridership(in).csv'

In [2]:
# import libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [13]:
# read in data
INPUT_FOLDER = '../data/'

ridership = pd.read_csv(INPUT_FOLDER + 'Trip_Level_Ridership(in).csv')
ridership.head(20)

,service_change_num,operation_date,service_rte_num,express_local_cd,inbd_outbd_cd,sched_day_type_coded_num,day_code,time_period,trip_cnt,total_boardings,total_alightings,total_psngr_miles,avg_boarding_per_trip,avg_max_load,avg_sched_runtime_min,avg_actual_runtime_min,avg_runtime_ratio,stdev_actual_runtime_min
0,233,1/1/2024,1,L,I,6,HOL,AM Peak,6,45.08,0.92,40.959840,7.513333,9.600000,12.000000,11.716667,0.976389,1.299872
1,233,1/1/2024,1,L,I,6,HOL,Early Midday,6,88.32,3.68,116.565657,14.720000,15.666667,13.000000,16.783333,1.291026,4.819301
2,233,1/1/2024,1,L,I,6,HOL,Evening,6,27.60,6.44,25.439633,4.600000,4.333333,13.000000,12.733333,0.979487,0.671317
3,233,1/1/2024,1,L,I,6,HOL,Midday,6,46.92,14.72,43.505221,7.820000,7.833333,13.000000,16.050000,1.234615,5.128255
4,233,1/1/2024,1,L,I,6,HOL,Night,5,11.96,0.00,12.155488,2.392000,4.333333,12.000000,11.700000,0.975000,0.863134
5,233,1/1/2024,1,L,I,6,HOL,PM Peak,8,52.44,12.88,49.526886,6.555000,6.625000,13.000000,14.387500,1.106731,1.442654
6,233,1/1/2024,1,L,O,6,HOL,AM Peak,7,71.76,107.64,114.554499,10.251429,10.142857,26.285714,26.700000,1.016201,3.391165
7,233,1/1/2024,1,L,O,6,HOL,Early Midday,7,83.72,147.20,170.517443,11.960000,14.142857,28.000000,30.400000,1.089490,2.710474
8,233,1/1/2024,1,L,O,6,HOL,Evening,5,39.56,57.04,67.070056,7.912000,7.800000,28.000000,26.820000,0.957857,3.287400
9,233,1/1/2024,1,L,O,6,HOL,Midday,6,136.16,193.20,213.856198,22.693333,19.000000,30.500000,30.783333,1.008692,3.204632
10,233,1/1/2024,1,L,O,6,HOL,Night,4,32.20,45.08,67.986795,8.050000,8.000000,27.000000,27.850000,1.031481,3.854435
11,233,1/1/2024,1,L,O,6,HOL,PM Peak,8,174.80,222.64,351.038135,21.850000,17.125000,30.000000,31.125000,1.037059,3.309186
12,233,1/1/2024,3,L,I,6,HOL,AM Peak,1,9.20,9.20,9.827339,9.200000,8.000000,23.000000,23.700000,1.030435,NaN
13,233,1/1/2024,3,L,I,6,HOL,Early Midday,4,41.40,41.40,45.352864,10.350000,7.250000,23.000000,25.775000,1.120652,3.519825
14,233,1/1/2024,3,L,I,6,HOL,Evening,6,43.24,43.24,46.056504,7.206667,6.000000,23.000000,22.600000,0.982609,2.338376
15,233,1/1/2024,3,L,I,6,HOL,Midday,4,57.96,57.96,72.761153,14.490000,10.500000,23.000000,23.625000,1.027174,2.197537
16,233,1/1/2024,3,L,I,6,HOL,Night,9,30.36,30.36,32.574017,3.373333,3.142857,21.333333,17.733333,0.836903,3.142451
17,233,1/1/2024,3,L,I,6,HOL,PM Peak,7,105.80,105.80,94.011417,15.114286,11.428571,23.000000,25.757143,1.119876,1.891963
18,233,1/1/2024,3,L,O,6,HOL,AM Peak,4,14.72,14.72,12.546268,3.680000,3.500000,23.000000,21.750000,0.945652,0.776745
19,233,1/1/2024,3,L,O,6,HOL,Early Midday,5,126.04,126.04,191.768297,25.208000,15.000000,40.600000,47.120000,1.154158,10.861952

## Explore

In [7]:
ridership.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 775070 entries, 0 to 775069
Data columns (total 18 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   service_change_num        775070 non-null  int64
 1   operation_date            775070 non-null  object
 2   service_rte_num           775070 non-null  int64
 3   express_local_cd          775070 non-null  object
 4   inbd_outbd_cd             775070 non-null  object
 5   sched_day_type_coded_num  775070 non-null  int64
 6   day_code                  774104 non-null  object
 7   time_period               775070 non-null  object
 8   trip_cnt                  775070 non-null  int64
 9   total_boardings           775070 non-null  float64
 10  total_alightings          775070 non-null  float64
 11  total_psngr_miles         775070 non-null  float64
 12  avg_boarding_per_trip     775070 non-null  float64
 13  avg_max_load              772585 non-null  float64
 14  avg_sched_runtime_min     775070 non-null  float64
 15  avg_actual_runtime_min    775070 non-null  float64
 16  avg_runtime_ratio         775070 non-null  float64
 17  stdev_actual_runtime_min  721231 non-null  float64
dtypes: float64(9), int64(4), object(5)
memory usage: 106.4+ MB

In [19]:
ridership.describe()

,service_change_num,service_rte_num,sched_day_type_coded_num,trip_cnt,total_boardings,total_alightings,total_psngr_miles,avg_boarding_per_trip,avg_max_load,avg_sched_runtime_min,avg_actual_runtime_min,avg_runtime_ratio,stdev_actual_runtime_min
count,775070.000000,775070.000000,775070.000000,775070.000000,775070.000000,775070.000000,775070.000000,775070.000000,772585.000000,775070.000000,775070.000000,775070.000000,721231.000000
mean,244.672357,204.471621,0.498315,7.326110,182.209324,182.853233,685.892156,20.660407,13.144578,41.714578,42.142610,1.014549,4.702493
std,6.374557,201.664281,1.055146,5.206279,231.995151,234.529357,1032.190064,13.845765,7.774320,14.677478,15.030161,0.099888,3.767945
min,233.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.200000,0.200000,0.000000
25%,241.000000,45.000000,0.000000,3.000000,39.000000,37.830000,123.406101,10.044000,7.333333,31.583333,31.557143,0.961074,2.435465
50%,243.000000,150.000000,0.000000,6.000000,101.000000,99.160000,326.206512,17.480769,11.666667,40.400000,40.716667,1.003835,3.734946
75%,251.000000,255.000000,1.000000,10.000000,231.000000,232.320000,829.637115,28.448250,17.555556,51.166667,51.458333,1.052521,5.753477
max,253.000000,994.000000,6.000000,41.000000,2693.040000,2693.040000,19230.767080,158.110000,95.500000,118.000000,396.400000,7.538417,238.984775

In [38]:
ridership.drop(columns=['operation_date', 'express_local_cd', 'inbd_outbd_cd', 'time_period', 'day_code']).corr()

,service_change_num,service_rte_num,sched_day_type_coded_num,trip_cnt,total_boardings,total_alightings,total_psngr_miles,avg_boarding_per_trip,avg_max_load,avg_sched_runtime_min,avg_actual_runtime_min,avg_runtime_ratio,stdev_actual_runtime_min
service_change_num,1.000000,0.006234,-0.012983,0.049759,0.042650,0.040345,0.003221,0.032845,-0.039326,0.009147,0.025197,0.058741,0.020443
service_rte_num,0.006234,1.000000,0.006513,0.168763,0.185353,0.184886,0.372982,0.118238,0.175060,0.128421,0.127988,-0.020651,0.002160
sched_day_type_coded_num,-0.012983,0.006513,1.000000,-0.099783,-0.112334,-0.111235,-0.095135,-0.103784,-0.120559,-0.080432,-0.074356,0.019814,-0.093781
trip_cnt,0.049759,0.168763,-0.099783,1.000000,0.823363,0.815333,0.603669,0.427969,0.384539,0.114408,0.104454,-0.038123,0.105891
total_boardings,0.042650,0.185353,-0.112334,0.823363,1.000000,0.991205,0.750948,0.741676,0.655714,0.316004,0.317934,0.002704,0.149177
total_alightings,0.040345,0.184886,-0.111235,0.815333,0.991205,1.000000,0.748000,0.735520,0.657500,0.331980,0.330975,-0.009198,0.153644
total_psngr_miles,0.003221,0.372982,-0.095135,0.603669,0.750948,0.748000,1.000000,0.585292,0.649650,0.386766,0.383951,-0.011941,0.163646
avg_boarding_per_trip,0.032845,0.118238,-0.103784,0.427969,0.741676,0.735520,0.585292,1.000000,0.875896,0.562598,0.578816,0.053713,0.189355
avg_max_load,-0.039326,0.175060,-0.120559,0.384539,0.655714,0.657500,0.649650,0.875896,1.000000,0.412524,0.424661,0.040660,0.169593
avg_sched_runtime_min,0.009147,0.128421,-0.080432,0.114408,0.316004,0.331980,0.386766,0.562598,0.412524,1.000000,0.967818,-0.118200,0.321894
avg_actual_runtime_min,0.025197,0.127988,-0.074356,0.104454,0.317934,0.330975,0.383951,0.578816,0.424661,0.967818,1.000000,0.115958,0.411310
avg_runtime_ratio,0.058741,-0.020651,0.019814,-0.038123,0.002704,-0.009198,-0.011941,0.053713,0.040660,-0.118200,0.115958,1.000000,0.356489
stdev_actual_runtime_min,0.020443,0.002160,-0.093781,0.105891,0.149177,0.153644,0.163646,0.189355,0.169593,0.321894,0.411310,0.356489,1.000000

In [20]:
ridership.describe(exclude='number')

       operation_date express_local_cd inbd_outbd_cd day_code time_period
count          775070           775070        775070   774104      775070
unique            731                2             2        4           6
top          3/5/2025                L             O       WK     PM Peak
freq             1149           704989        387741   560537      142396

In [14]:
ridership.express_local_cd.value_counts()

express_local_cd
L    704989
E     70081
Name: count, dtype: int64

In [15]:
ridership.inbd_outbd_cd.value_counts()

inbd_outbd_cd
O    387741
I    387329
Name: count, dtype: int64

In [16]:
ridership.day_code.value_counts()

day_code
WK     560537
SA      97437
SU      95886
HOL     20244
Name: count, dtype: int64

In [18]:
ridership.time_period.value_counts()

time_period
PM Peak         142396
AM Peak         140197
Early Midday    131357
Midday          130118
Evening         126358
Night           104644
Name: count, dtype: int64

### Missing Data

In [31]:
ridership.isna().sum()

service_change_num              0
operation_date                  0
service_rte_num                 0
express_local_cd                0
inbd_outbd_cd                   0
sched_day_type_coded_num        0
day_code                      966
time_period                     0
trip_cnt                        0
total_boardings                 0
total_alightings                0
total_psngr_miles               0
avg_boarding_per_trip           0
avg_max_load                 2485
avg_sched_runtime_min           0
avg_actual_runtime_min          0
avg_runtime_ratio               0
stdev_actual_runtime_min    53839
dtype: int64

#### day_code

In [36]:
ridership[ridership['day_code'].isna()]

,service_change_num,operation_date,service_rte_num,express_local_cd,inbd_outbd_cd,sched_day_type_coded_num,day_code,time_period,trip_cnt,total_boardings,total_alightings,total_psngr_miles,avg_boarding_per_trip,avg_max_load,avg_sched_runtime_min,avg_actual_runtime_min,avg_runtime_ratio,stdev_actual_runtime_min
659573,253,9/13/2025,1,L,I,2,NaN,AM Peak,2,0.00,0.00,0.000000,0.000000,NaN,14.000000,14.650000,1.047949,1.060660
659574,253,9/13/2025,1,L,I,2,NaN,Early Midday,3,31.04,31.04,23.662391,10.346667,6.000000,15.666667,17.033333,1.086250,1.357694
659575,253,9/13/2025,1,L,I,2,NaN,Evening,3,8.73,8.73,8.113849,2.910000,4.000000,16.333333,17.600000,1.078431,2.200000
659576,253,9/13/2025,1,L,I,2,NaN,Midday,2,24.25,24.25,14.230616,12.125000,6.500000,16.000000,17.400000,1.087500,0.282843
659577,253,9/13/2025,1,L,I,2,NaN,Night,1,0.00,0.00,0.000000,0.000000,NaN,14.000000,15.200000,1.085714,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
660534,253,9/13/2025,678,L,O,2,NaN,Early Midday,3,136.32,136.32,629.890847,45.440000,23.666667,49.000000,47.766667,0.974171,3.365016
660535,253,9/13/2025,678,L,O,2,NaN,Evening,4,231.36,231.36,1157.030086,57.840000,37.250000,48.750000,55.725000,1.145614,4.290590
660536,253,9/13/2025,678,L,O,2,NaN,Midday,3,185.28,185.28,756.460809,61.760000,28.333333,50.333333,49.233333,0.978092,1.934770
660537,253,9/13/2025,678,L,O,2,NaN,Night,7,180.48,180.48,1197.294862,25.782857,19.714286,44.571429,45.385714,1.018561,5.896730
660538,253,9/13/2025,678,L,O,2,NaN,PM Peak,5,285.12,285.12,1334.649944,57.024000,28.600000,51.000000,47.840000,0.938039,3.774652

In [ ]:
ridership[ridership['day_code'].isna()].operation_date.unique()

# Only 9/13/2025 is missing day_code values, which is a Saturday.
# Fill in the missing values with 'SA' in the processing section.

array(['9/13/2025'], dtype=object)

#### avg_max_load

In [33]:
ridership[ridership['avg_max_load'].isna()]

,service_change_num,operation_date,service_rte_num,express_local_cd,inbd_outbd_cd,sched_day_type_coded_num,day_code,time_period,trip_cnt,total_boardings,total_alightings,total_psngr_miles,avg_boarding_per_trip,avg_max_load,avg_sched_runtime_min,avg_actual_runtime_min,avg_runtime_ratio,stdev_actual_runtime_min
84,233,1/1/2024,12,L,I,6,HOL,Early Midday,3,0.0,0.0,0.0,0.0,NaN,16.00,16.100000,1.006250,0.888819
86,233,1/1/2024,12,L,I,6,HOL,Midday,3,0.0,0.0,0.0,0.0,NaN,16.00,15.400000,0.962500,0.600000
87,233,1/1/2024,12,L,I,6,HOL,Night,2,0.0,0.0,0.0,0.0,NaN,12.00,11.550000,0.962500,0.353553
88,233,1/1/2024,12,L,I,6,HOL,PM Peak,4,0.0,0.0,0.0,0.0,NaN,15.75,15.975000,1.011667,2.883719
93,233,1/1/2024,12,L,O,6,HOL,Night,2,0.0,0.0,0.0,0.0,NaN,19.00,16.350000,0.860526,1.202082
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
774687,253,12/31/2025,222,L,O,0,WK,Night,1,0.0,0.0,0.0,0.0,NaN,50.00,44.000000,0.880000,NaN
774727,253,12/31/2025,230,L,I,0,WK,Night,1,0.0,0.0,0.0,0.0,NaN,32.00,22.300000,0.696875,NaN
774842,253,12/31/2025,331,L,O,0,WK,Night,3,0.0,0.0,0.0,0.0,NaN,39.00,37.166667,0.956889,3.707200
774872,253,12/31/2025,346,L,I,0,WK,Night,1,0.0,0.0,0.0,0.0,NaN,11.00,12.500000,1.136364,NaN
774878,253,12/31/2025,346,L,O,0,WK,Night,1,0.0,0.0,0.0,0.0,NaN,11.00,11.000000,1.000000,NaN

In [ ]:
ridership[ridership['avg_max_load'].isna()][['total_boardings', 'total_alightings', 'total_psngr_miles', 'avg_boarding_per_trip']].sum()

# All rows with missing avg_max_load have 0 boardings, alightings, passenger miles, and avg_boarding_per_trip.
# This is reasonable because the average maximum load is the average of the maximum passenger load recorded for each trip over a specific period
# Additionally, the statistics in .describe() show that the minimum avg_max_load is 1, indicating that there are no negative or zero values in the dataset.
# Therefore, it is reasonable to fill in missing avg_max_load values with 0 in processing section.

total_boardings          0.0
total_alightings         0.0
total_psngr_miles        0.0
avg_boarding_per_trip    0.0
dtype: float64

#### stdev_actual_runtime_min

In [35]:
ridership[ridership['stdev_actual_runtime_min'].isna()]

,service_change_num,operation_date,service_rte_num,express_local_cd,inbd_outbd_cd,sched_day_type_coded_num,day_code,time_period,trip_cnt,total_boardings,total_alightings,total_psngr_miles,avg_boarding_per_trip,avg_max_load,avg_sched_runtime_min,avg_actual_runtime_min,avg_runtime_ratio,stdev_actual_runtime_min
12,233,1/1/2024,3,L,I,6,HOL,AM Peak,1,9.20,9.20,9.827339,9.20,8.0,23.0,23.7,1.030435,NaN
78,233,1/1/2024,11,L,I,6,HOL,Early Midday,1,13.58,10.67,13.701208,13.58,9.0,20.0,23.2,1.160000,NaN
95,233,1/1/2024,13,L,I,6,HOL,Early Midday,1,29.10,29.10,48.918596,29.10,23.0,30.0,29.3,0.976667,NaN
96,233,1/1/2024,13,L,I,6,HOL,Evening,1,9.70,9.70,14.198926,9.70,6.0,28.0,25.6,0.914286,NaN
98,233,1/1/2024,13,L,I,6,HOL,Night,1,7.76,7.76,10.110311,7.76,7.0,28.0,20.3,0.725000,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
774907,253,12/31/2025,372,E,I,0,WK,Night,1,7.76,7.76,14.218188,7.76,5.0,41.0,33.4,0.814634,NaN
774909,253,12/31/2025,372,E,O,0,WK,Early Midday,1,16.49,16.49,41.992185,16.49,12.0,54.0,48.9,0.905556,NaN
774910,253,12/31/2025,372,E,O,0,WK,Evening,1,4.85,4.85,17.026159,4.85,4.0,50.0,41.5,0.830000,NaN
774974,253,12/31/2025,556,E,O,0,WK,Early Midday,1,6.79,6.79,83.295270,6.79,4.0,59.0,65.1,1.103390,NaN
774977,253,12/31/2025,566,E,I,0,WK,Night,1,6.79,6.79,98.725130,6.79,7.0,41.0,43.0,1.048780,NaN