# Trip Level Analysis
Purpose: analyze, clean, and preprocess 'Trip_Level_Ridership(in).csv'

In [ ]:
# import libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [57]:
# read in data
INPUT_FOLDER = '../data/'
FILE = 'Trip_Level.csv'

full_trip = pd.read_csv(INPUT_FOLDER + FILE)
full_trip

,SERVICE_CHANGE_NUM,OPERATION_DATE,SERVICE_RTE_NUM,TRIP_ID,EXPRESS_LOCAL_CD,INBD_OUTBD_CD,SCHED_DAY_TYPE_CODED_NUM,DAY_CODE,SCHED_START_TIME,ACTUAL_START_TIME,SCHED_END_TIME,ACTUAL_END_TIME,TIME_PERIOD,PSNGR_BOARDINGS,PSNGR_ALIGHTINGS,MAX_PSNGR_LOAD,CROWDING_THRESHOLD_NBR
0,243,1/1/2025,1,73352704,L,I,6,HOL,6:42:00 AM,6:42:45 AM,6:54:00 AM,6:55:09 AM,AM Peak,8.28,0.92,8.0,52
1,243,1/1/2025,1,73352706,L,I,6,HOL,8:42:00 AM,8:42:35 AM,8:54:00 AM,8:53:17 AM,AM Peak,9.20,0.92,9.0,52
2,243,1/1/2025,1,73352653,L,I,6,HOL,7:12:00 AM,7:13:31 AM,7:24:00 AM,7:29:21 AM,AM Peak,1.84,1.84,1.0,52
3,243,1/1/2025,1,73352650,L,I,6,HOL,7:42:00 AM,7:43:51 AM,7:54:00 AM,7:55:29 AM,AM Peak,0.92,0.00,1.0,52
4,243,1/1/2025,1,73352611,L,I,6,HOL,9:40:00 AM,9:42:43 AM,9:53:00 AM,9:54:46 AM,Early Midday,10.12,0.00,11.0,52
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,251,5/12/2025,348,69144554,L,I,0,WK,12:55:00 PM,12:55:57 PM,1:33:00 PM,1:33:09 PM,Midday,13.30,13.30,12.0,48
1048571,251,5/12/2025,348,69144558,L,I,0,WK,2:55:00 PM,2:58:37 PM,3:34:00 PM,3:37:48 PM,Midday,14.25,14.25,7.0,48
1048572,251,5/12/2025,348,69144587,L,I,0,WK,1:12:00 PM,1:12:17 PM,1:48:00 PM,1:49:19 PM,Midday,13.30,13.30,10.0,48
1048573,251,5/12/2025,348,69144603,L,I,0,WK,11:27:00 PM,11:27:17 PM,11:57:00 PM,11:55:51 PM,Night,4.75,4.75,1.0,48
1048574,251,5/12/2025,348,69144602,L,I,0,WK,10:27:00 PM,10:28:22 PM,10:57:00 PM,10:52:06 PM,Night,5.70,5.70,5.0,48

## Explore

In [ ]:
full_trip.info()

# all numerical data is properly typed

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 17 columns):
 #   Column                    Non-Null Count    Dtype
---  ------                    --------------    -----
 0   SERVICE_CHANGE_NUM        1048575 non-null  int64
 1   OPERATION_DATE            1048575 non-null  object
 2   SERVICE_RTE_NUM           1048575 non-null  int64
 3   TRIP_ID                   1048575 non-null  int64
 4   EXPRESS_LOCAL_CD          1048575 non-null  object
 5   INBD_OUTBD_CD             1048575 non-null  object
 6   SCHED_DAY_TYPE_CODED_NUM  1048575 non-null  int64
 7   DAY_CODE                  1048575 non-null  object
 8   SCHED_START_TIME          1048575 non-null  object
 9   ACTUAL_START_TIME         1048575 non-null  object
 10  SCHED_END_TIME            1048575 non-null  object
 11  ACTUAL_END_TIME           1048575 non-null  object
 12  TIME_PERIOD               1048575 non-null  object
 13  PSNGR_BOARDINGS           1048559 non-null  float64
 14  PSNGR_ALIGHTINGS          1048559 non-null  float64
 15  MAX_PSNGR_LOAD            1038964 non-null  float64
 16  CROWDING_THRESHOLD_NBR    1048575 non-null  int64
dtypes: float64(3), int64(5), object(9)
memory usage: 136.0+ MB

In [60]:
full_trip.describe()

,SERVICE_CHANGE_NUM,SERVICE_RTE_NUM,TRIP_ID,SCHED_DAY_TYPE_CODED_NUM,PSNGR_BOARDINGS,PSNGR_ALIGHTINGS,MAX_PSNGR_LOAD,CROWDING_THRESHOLD_NBR
count,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,1.048559e+06,1.048559e+06,1.038964e+06,1.048575e+06
mean,2.456987e+02,2.337251e+02,6.579207e+07,4.535203e-01,2.508385e+01,2.514061e+01,1.512781e+01,6.421619e+01
std,3.782409e+00,2.394380e+02,5.948180e+06,1.065125e+00,1.941888e+01,1.968455e+01,1.112927e+01,1.510656e+01
min,2.430000e+02,1.000000e+00,3.474643e+07,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,3.700000e+01
25%,2.430000e+02,4.400000e+01,6.305423e+07,0.000000e+00,1.100000e+01,1.067000e+01,7.000000e+00,4.800000e+01
50%,2.430000e+02,1.280000e+02,6.660701e+07,0.000000e+00,2.037000e+01,2.037000e+01,1.200000e+01,7.400000e+01
75%,2.510000e+02,3.480000e+02,6.943071e+07,0.000000e+00,3.400000e+01,3.434000e+01,2.000000e+01,7.800000e+01
max,2.510000e+02,9.890000e+02,7.646656e+07,6.000000e+00,1.999800e+02,1.999800e+02,1.170000e+02,8.100000e+01

In [ ]:
# observe correlation between numerical columns

numerical_cols = full_trip.select_dtypes(include=[np.number]).columns.tolist()
corr = full_trip[numerical_cols].corr()
corr

,SERVICE_CHANGE_NUM,SERVICE_RTE_NUM,TRIP_ID,SCHED_DAY_TYPE_CODED_NUM,PSNGR_BOARDINGS,PSNGR_ALIGHTINGS,MAX_PSNGR_LOAD,CROWDING_THRESHOLD_NBR
SERVICE_CHANGE_NUM,1.000000,-0.013187,0.126954,-0.072692,0.046079,0.043400,0.004738,0.000133
SERVICE_RTE_NUM,-0.013187,1.000000,-0.006250,0.009864,0.095974,0.095594,0.137377,0.248188
TRIP_ID,0.126954,-0.006250,1.000000,-0.029924,0.002947,0.008623,-0.033576,-0.063707
SCHED_DAY_TYPE_CODED_NUM,-0.072692,0.009864,-0.029924,1.000000,-0.115851,-0.113999,-0.120794,0.022254
PSNGR_BOARDINGS,0.046079,0.095974,0.002947,-0.115851,1.000000,0.984798,0.883542,0.314723
PSNGR_ALIGHTINGS,0.043400,0.095594,0.008623,-0.113999,0.984798,1.000000,0.878001,0.311773
MAX_PSNGR_LOAD,0.004738,0.137377,-0.033576,-0.120794,0.883542,0.878001,1.000000,0.313041
CROWDING_THRESHOLD_NBR,0.000133,0.248188,-0.063707,0.022254,0.314723,0.311773,0.313041,1.000000

In [ ]:
# identify strong correlations

corr[(corr > 0.8) | (corr < -0.8)]

# observation: strong correlations exist between PSNGR_BOARDINGS, PSNGR_ALIGHTINGS, and MAX_PSNGR_LOAD

,SERVICE_CHANGE_NUM,SERVICE_RTE_NUM,TRIP_ID,SCHED_DAY_TYPE_CODED_NUM,PSNGR_BOARDINGS,PSNGR_ALIGHTINGS,MAX_PSNGR_LOAD,CROWDING_THRESHOLD_NBR
SERVICE_CHANGE_NUM,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
SERVICE_RTE_NUM,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN
TRIP_ID,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN
SCHED_DAY_TYPE_CODED_NUM,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
PSNGR_BOARDINGS,NaN,NaN,NaN,NaN,1.000000,0.984798,0.883542,NaN
PSNGR_ALIGHTINGS,NaN,NaN,NaN,NaN,0.984798,1.000000,0.878001,NaN
MAX_PSNGR_LOAD,NaN,NaN,NaN,NaN,0.883542,0.878001,1.000000,NaN
CROWDING_THRESHOLD_NBR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0

In [62]:
full_trip.describe(exclude='number')

,OPERATION_DATE,EXPRESS_LOCAL_CD,INBD_OUTBD_CD,DAY_CODE,SCHED_START_TIME,ACTUAL_START_TIME,SCHED_END_TIME,ACTUAL_END_TIME,TIME_PERIOD
count,1048575,1048575,1048575,1048575,1048575,1048575,1048575,1048575,1048575
unique,132,2,2,4,1428,82150,1413,82964,6
top,3/18/2025,L,I,WK,1:00:00 PM,8:13:05 AM,2:40:00 PM,4:36:26 PM,PM Peak
freq,9127,955319,527635,800345,3539,54,2147,38,254394

In [63]:
full_trip.EXPRESS_LOCAL_CD.value_counts()

EXPRESS_LOCAL_CD
L    955319
E     93256
Name: count, dtype: int64

In [64]:
full_trip.INBD_OUTBD_CD.value_counts()

INBD_OUTBD_CD
I    527635
O    520940
Name: count, dtype: int64

In [65]:
full_trip.DAY_CODE.value_counts()

DAY_CODE
WK     800345
SA     115926
SU     108550
HOL     23754
Name: count, dtype: int64

In [66]:
full_trip.TIME_PERIOD.value_counts()

TIME_PERIOD
PM Peak         254394
AM Peak         221852
Midday          174865
Early Midday    173869
Evening         129116
Night            94479
Name: count, dtype: int64

### Missing Data

In [67]:
full_trip.isna().sum()

SERVICE_CHANGE_NUM             0
OPERATION_DATE                 0
SERVICE_RTE_NUM                0
TRIP_ID                        0
EXPRESS_LOCAL_CD               0
INBD_OUTBD_CD                  0
SCHED_DAY_TYPE_CODED_NUM       0
DAY_CODE                       0
SCHED_START_TIME               0
ACTUAL_START_TIME              0
SCHED_END_TIME                 0
ACTUAL_END_TIME                0
TIME_PERIOD                    0
PSNGR_BOARDINGS               16
PSNGR_ALIGHTINGS              16
MAX_PSNGR_LOAD              9611
CROWDING_THRESHOLD_NBR         0
dtype: int64

In [68]:
# investigate NaN values in PSNGR_BOARDINGS

full_trip[full_trip['PSNGR_BOARDINGS'].isna()]

,SERVICE_CHANGE_NUM,OPERATION_DATE,SERVICE_RTE_NUM,TRIP_ID,EXPRESS_LOCAL_CD,INBD_OUTBD_CD,SCHED_DAY_TYPE_CODED_NUM,DAY_CODE,SCHED_START_TIME,ACTUAL_START_TIME,SCHED_END_TIME,ACTUAL_END_TIME,TIME_PERIOD,PSNGR_BOARDINGS,PSNGR_ALIGHTINGS,MAX_PSNGR_LOAD,CROWDING_THRESHOLD_NBR
834704,251,4/15/2025,675,73776040,L,I,0,WK,12:15:00 PM,12:15:58 PM,1:08:00 PM,1:10:02 PM,Midday,NaN,NaN,14.0,76
834705,251,4/15/2025,675,73776041,L,I,0,WK,2:45:00 PM,2:47:15 PM,3:42:00 PM,3:48:34 PM,Midday,NaN,NaN,18.0,76
834794,251,4/15/2025,675,58567650,L,O,0,WK,11:08:00 AM,11:06:56 AM,11:59:00 AM,11:56:45 AM,Early Midday,NaN,NaN,9.0,76
834821,251,4/15/2025,675,58567683,L,O,0,WK,1:30:00 PM,1:28:22 PM,2:22:00 PM,2:18:31 PM,Midday,NaN,NaN,11.0,76
834870,251,4/15/2025,675,69366906,L,O,0,WK,4:00:00 PM,3:59:04 PM,4:58:00 PM,5:03:08 PM,PM Peak,NaN,NaN,40.0,76
843657,251,4/16/2025,675,73776038,L,I,0,WK,8:03:00 PM,8:05:30 PM,8:49:00 PM,8:55:08 PM,Evening,NaN,NaN,11.0,76
843672,251,4/16/2025,675,73776040,L,I,0,WK,12:15:00 PM,12:15:08 PM,1:08:00 PM,1:30:51 PM,Midday,NaN,NaN,19.0,76
843673,251,4/16/2025,675,73776041,L,I,0,WK,2:45:00 PM,2:44:46 PM,3:42:00 PM,3:38:38 PM,Midday,NaN,NaN,19.0,76
843694,251,4/16/2025,675,62819129,L,I,0,WK,10:15:00 PM,10:15:54 PM,10:58:00 PM,10:54:37 PM,Night,NaN,NaN,6.0,76
843711,251,4/16/2025,675,62819114,L,I,0,WK,5:31:00 PM,5:30:31 PM,6:30:00 PM,6:26:55 PM,PM Peak,NaN,NaN,9.0,76
843746,251,4/16/2025,675,58567650,L,O,0,WK,11:08:00 AM,11:08:19 AM,11:59:00 AM,12:06:23 PM,Early Midday,NaN,NaN,14.0,76
843771,251,4/16/2025,675,62819034,L,O,0,WK,9:11:00 PM,9:12:19 PM,9:59:00 PM,9:54:17 PM,Evening,NaN,NaN,11.0,76
843786,251,4/16/2025,675,58567683,L,O,0,WK,1:30:00 PM,1:32:24 PM,2:22:00 PM,2:32:15 PM,Midday,NaN,NaN,24.0,76
843820,251,4/16/2025,675,69366906,L,O,0,WK,4:00:00 PM,4:02:07 PM,4:58:00 PM,5:29:48 PM,PM Peak,NaN,NaN,23.0,76
843821,251,4/16/2025,675,62819023,L,O,0,WK,6:51:00 PM,6:54:37 PM,7:40:00 PM,7:43:20 PM,PM Peak,NaN,NaN,18.0,76
843823,251,4/16/2025,675,69366923,L,O,0,WK,4:19:00 PM,4:21:35 PM,5:17:00 PM,5:15:37 PM,PM Peak,NaN,NaN,19.0,76

In [69]:
# observation: all rows with NaN PSNGR_BOARDINGS also have NaN PSNGR_ALIGHTINGS

print("all alighting values for NaN boarding values:", full_trip[full_trip['PSNGR_BOARDINGS'].isna()].PSNGR_ALIGHTINGS.unique())
print("all boarding values for NaN alighting values:", full_trip[full_trip['PSNGR_ALIGHTINGS'].isna()].PSNGR_BOARDINGS.unique())

# the NaN values may have occurred as an error during data collection

all alighting values for NaN boarding values: [nan]
all boarding values for NaN alighting values: [nan]

In [70]:
# absolute change in statistics after dropping NaN values

dropped = full_trip.dropna(subset=['PSNGR_BOARDINGS', 'PSNGR_ALIGHTINGS'])[numerical_cols].describe()
original = full_trip[numerical_cols].describe()

dropped - original

# observation: dropping NaN values does not significantly change the descriptive statistics

,SERVICE_CHANGE_NUM,SERVICE_RTE_NUM,TRIP_ID,SCHED_DAY_TYPE_CODED_NUM,PSNGR_BOARDINGS,PSNGR_ALIGHTINGS,MAX_PSNGR_LOAD,CROWDING_THRESHOLD_NBR
count,-16.000000,-16.000000,-16.000000,-16.000000,0.000000e+00,0.000000e+00,-16.000000,-16.000000
mean,-0.000081,-0.006733,-9.398355,0.000007,1.421085e-14,1.421085e-14,-0.000022,-0.000180
std,-0.000028,-0.004378,-2.812778,0.000007,0.000000e+00,3.552714e-15,0.000041,0.000045
min,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000
75%,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000
max,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000

In [71]:
# percent change in statistics after dropping NaN values

((dropped - original) / original < 0.00001) | ((dropped - original) == 0)

# observation: dropping NaN values changes less than .01% of the descriptive statistics
# conclusion: it is safe to drop rows with NaN values in PSNGR_BOARDINGS and PSNGR_ALIGHTINGS

,SERVICE_CHANGE_NUM,SERVICE_RTE_NUM,TRIP_ID,SCHED_DAY_TYPE_CODED_NUM,PSNGR_BOARDINGS,PSNGR_ALIGHTINGS,MAX_PSNGR_LOAD,CROWDING_THRESHOLD_NBR
count,True,True,True,True,True,True,True,True
mean,True,True,True,False,True,True,True,True
std,True,True,True,True,True,True,True,True
min,True,True,True,True,True,True,True,True
25%,True,True,True,True,True,True,True,True
50%,True,True,True,True,True,True,True,True
75%,True,True,True,True,True,True,True,True
max,True,True,True,True,True,True,True,True

In [72]:
# investigate NaN values in MAX_PSNGR_LOAD

full_trip[full_trip['MAX_PSNGR_LOAD'].isna()]

,SERVICE_CHANGE_NUM,OPERATION_DATE,SERVICE_RTE_NUM,TRIP_ID,EXPRESS_LOCAL_CD,INBD_OUTBD_CD,SCHED_DAY_TYPE_CODED_NUM,DAY_CODE,SCHED_START_TIME,ACTUAL_START_TIME,SCHED_END_TIME,ACTUAL_END_TIME,TIME_PERIOD,PSNGR_BOARDINGS,PSNGR_ALIGHTINGS,MAX_PSNGR_LOAD,CROWDING_THRESHOLD_NBR
23,243,1/1/2025,1,73352571,L,I,6,HOL,10:42:00 PM,10:48:12 PM,10:54:00 PM,10:58:18 PM,Night,0.0,0.0,NaN,52
25,243,1/1/2025,1,73352694,L,I,6,HOL,12:12:00 AM,12:12:13 X,12:24:00 AM,12:24:07 X,Night,0.0,0.0,NaN,52
26,243,1/1/2025,1,73352698,L,I,6,HOL,10:12:00 PM,10:12:33 PM,10:24:00 PM,10:25:21 PM,Night,0.0,0.0,NaN,52
37,243,1/1/2025,1,73352701,L,O,6,HOL,5:33:00 AM,5:38:51 AM,5:57:00 AM,6:01:23 AM,AM Peak,0.0,0.0,NaN,52
93,243,1/1/2025,3,73353792,L,I,6,HOL,10:51:00 AM,10:52:59 AM,11:08:00 AM,11:11:58 AM,Early Midday,0.0,0.0,NaN,52
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048487,251,5/12/2025,346,72496263,L,I,0,WK,3:14:00 PM,3:14:41 PM,3:28:00 PM,3:28:34 PM,PM Peak,0.0,0.0,NaN,48
1048507,251,5/12/2025,346,72496305,L,O,0,WK,7:28:00 PM,7:29:05 PM,7:41:00 PM,7:40:36 PM,Evening,0.0,0.0,NaN,48
1048509,251,5/12/2025,346,72496309,L,O,0,WK,9:28:00 PM,9:29:13 PM,9:39:00 PM,9:39:54 PM,Evening,0.0,0.0,NaN,48
1048511,251,5/12/2025,346,72496306,L,O,0,WK,7:58:00 PM,7:59:19 PM,8:11:00 PM,8:12:11 PM,Evening,0.0,0.0,NaN,48
1048519,251,5/12/2025,346,72496311,L,O,0,WK,10:58:00 PM,11:01:48 PM,11:09:00 PM,11:11:45 PM,Night,0.0,0.0,NaN,48

In [73]:
# observation: all values for boarding and alighting are 0 where MAX_PSNGR_LOAD is NaN

print("all boarding values for NaN max passenger load values:", full_trip[full_trip['MAX_PSNGR_LOAD'].isna()]['PSNGR_BOARDINGS'].unique())
print("all alighting values for NaN max passenger load values:", full_trip[full_trip['MAX_PSNGR_LOAD'].isna()]['PSNGR_ALIGHTINGS'].unique())

# therefore, we can safely fill NaN MAX_PSNGR_LOAD values with 0

all boarding values for NaN max passenger load values: [0.]
all alighting values for NaN max passenger load values: [0.]

## Preprocessing

### Missing Data
Utilizes decisions made from exploration observations in above section.

In [ ]:
# drop rows with NaN values in PSNGR_BOARDINGS and PSNGR_ALIGHTINGS

trip = full_trip.dropna(subset=['PSNGR_BOARDINGS', 'PSNGR_ALIGHTINGS'])

In [76]:
# impute NaN values in MAX_PSNGR_LOAD with 0

trip = trip.fillna(value={'MAX_PSNGR_LOAD': 0})

In [77]:
# ensure no NaN values remain

trip.isna().sum()

SERVICE_CHANGE_NUM          0
OPERATION_DATE              0
SERVICE_RTE_NUM             0
TRIP_ID                     0
EXPRESS_LOCAL_CD            0
INBD_OUTBD_CD               0
SCHED_DAY_TYPE_CODED_NUM    0
DAY_CODE                    0
SCHED_START_TIME            0
ACTUAL_START_TIME           0
SCHED_END_TIME              0
ACTUAL_END_TIME             0
TIME_PERIOD                 0
PSNGR_BOARDINGS             0
PSNGR_ALIGHTINGS            0
MAX_PSNGR_LOAD              0
CROWDING_THRESHOLD_NBR      0
dtype: int64